

body{
    border-width: .2em;
    border-style: solid;
    border-color: orchid;
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    
}


footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}